
<div class="user-show-page-div">
  <div class="user-header small-12 row">
    <div class="user-photo-div small-4 left">
      <%= image_tag(@user.pro_pic.url, :class => "user-photo") %>
    </div>
    <div class="user-info small-4 right">
      <h1 class="vibe-user" id="user-show-username"><%= @user.username %></h1>
      <h2 class="user-full-name"><%= @name %></h2>
      <h3 class="user-bio"><%= @user.bio %></h3>
    </div>
  </div>

  <ul>
    <% @user.vibes.each do |vibe| %>
    <br>
    <li>
      <%= link_to "#{vibe.name}",
              vibe_path(vibe),
              :class=>"vibe-name" %>
      <p class="vibe-blurb"><%= vibe.blurb %><p>
      <i class="fas fa-broadcast-tower"></i>
      <span id="tower-text">
        <%= vibe.waves %>
      </span>
    </li>
  <% end %>
  </ul>
</div>
