
<div class="user-show-page-div">
  <div class="user-header small-12 row">
    <div class="user-photo-div small-12 medium-4 left">
      <% if @user.pro_pic.present? %>
        <%= image_tag(@user.pro_pic.url, :class => "user-photo") %>
      <% else %>
        <%= image_tag("/app/assets/images/therest.gif", :class => "user-photo") %>
      <% end %>
    </div>
    <div class="user-info small-12 medium-4 center">
      <h1 class="vibe-user" id="user-show-username"><%= @user.username %></h1>
      <h2 class="user-full-name"><%= @name %></h2>
      <h3 class="user-bio"><%= @user.bio %></h3>
    </div>
  </div>

  <ul id="user-vibes-list" class="row">
    <% @user.vibes.each do |vibe| %>
    <br>
    <li class="user-vibes-list-item small-12 medium-5 large-4">
      <%= link_to "#{vibe.name}",
              vibe_path(vibe),
              :class=>"vibe-name" %>
      <p class="vibe-blurb"><%= vibe.blurb %><p>
        <span><%= link_to image_tag(vibe.art.url), vibe_path(vibe), :class => "vibe-art-mini" %></span>
      <div class="columns">
        <div class="fire-text">
          <i class="fas fa-fire fire-icon"></i>
          <%= vibe.fire %>
        </div>
        <div class="chill-text">
          <i class="fas fa-snowflake ice-icon"></i>
          <%= vibe.ice %>
        </div>
      </div>
    </li>
  <% end %>
  <% if current_user &&
        current_user.id == params[:id].to_i %>
    <li id="upload-vibe" class="user-vibes-list-item small-12 medium-5 large-4">
      <div class="small-12">
        <a href="/vibes/new"><i class="fas fa-upload"></i></a>
        <br>
        <%= link_to "new vibe",
            new_vibe_path,
            :id => "new-vibe-text" %>
      </div>
    </li>
  <% end %>
  </ul>
</div>
